doctype html
html
	head
		title= title
		script(src='/components/platform/platform.js')
		link(rel='import' href='/components/core-elements/core-elements.html')
		link(rel='import' href='/components/paper-elements/paper-elements.html')
		link(href='/tools/stylesheets/index.css' rel='stylesheet')
	body
		h1.title Images Here
		form.form(enctype="multipart/form-data" method="post" name="fileinfo")
			input.file(type="file" name="file" multiple="multiple")
		div.fab
			span.add +
			paper-ripple.circle.recenteringTouch(fit)
		paper-dialog#dialog(heading='Title for dialog' transition='paper-transition-center' opened='false' style='display:none')
			div.dialog.inner.hide
				p texttexttexttexttexttexttext
				p texttexttexttexttexttexttext
				p texttexttexttexttexttexttext
	script(src='/tools/scripts/imagebed_upload.js')