<!-- 注意：模块需要包含在id为模块名的div里面 引用css的需要写在相应的public文件夹下面-->
<link rel="stylesheet" href="/ui_source/stylesheets/footer.css">
<div id="footer" module-name="footer" developper="kevin14" style="text-align:<%=moduleConfig.footer.textAlign%>">
	<span>尾部</span>
</div>
