<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>升级浏览器-1号店UIManager</title>
	<link rel="stylesheet" href="/manager/stylesheets/wrong_browser.css">
</head>
<body>
	<h1>1号店UIManager需要 Google Chrome 30+的浏览器支持</h1>
	<a class="download-chrome" href="http://www.google.cn/chrome/" target="_blank">Download Google Chrome</a>
</body>
</html>