<!doctype html>
<html lang="zhCN">
<head>
	<meta charset="UTF-8">
	<title>1号店UIManager-<%=uiName %></title>
	<link rel="stylesheet" href="/manager/stylesheets/manager.css">
</head>
<body manager-module-name="<%=uiName %>">
	<div id="manager-header">
		<p class="manager-title">1号店UIManager－>ui-><%=uiName%></p>
	</div>
	<div id="manager-content">
		<div class="manager-ui-info">
			<div class="manager-info-wrapper">
				<div><label>模块名：</label><span class="manager-ui-attr-name"></span></div>
				<div><label>类型：</label><select class="manager-ui-attr-type">
					<option value="1">样式1</option>
				</select></div>
				<div><label>开发者：</label><span class="manager-ui-attr-developer"></span></div>
			</div>
		</div>
		<div class="manager-ui-show">
			<!-- 引入html文件 -->
			<iframe id="ui-manager-iframe" name="ui-manager-iframe" scrolling="no" src="/uis/header/1" frameborder="0"></iframe>
		</div>
	</div>
	<script type="text/javascript" src="/manager/scripts/manager.js"></script>
</body>
</html>