<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Zero-预览-<%=uiName%></title>
	<link rel="stylesheet" href="/manager/stylesheets/manager_preview.css">
	<link rel="stylesheet" href="/uis_source/<%=uiName%>.css">
	<script type="text/javascript" src="/manager/scripts/manager_page_preview.js"></script>
</head>
<body>
	<div id="ui-manager-preview">
		<% include modulePath %>
	</div>
</body>
</html>