<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>1号店UIManager-预览-<%=component%></title>
	<link rel="stylesheet" href="/manager/stylesheets/manager_preview.css">
	<link rel="stylesheet" href="/uis_source/<%=component%>.css">
</head>
<body>
	<div id="ui-manager-preview">
		<% include modulePath %>
	</div>
</body>
</html>