<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
	<title><%=moduleConfig.moduleName %></title>
	<link rel="stylesheet" href="/page_source/stylesheets/base.css">
</head>
<body page-name="<%=moduleConfig.moduleName %>" module-name="<%=moduleConfig.moduleName %>" developper="kevin14">
	<% include ../uis/header.ejs %>
	<% include ../uis/list.ejs %>
	<% include ../uis/footer.ejs %>
</body>
</html>