*{
    margin:0;
    padding: 0;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f3f3f3;
}
body{
    display: flex;
    flex-direction:column;
}

em,i{
    font-style: normal;
}

header{
    height: 44px;
    line-height: 44px;
    background-color: #fff;
    display: flex;
    color: #333333;
    -webkit-user-select:none;
    border-bottom: 1px solid #e3e3e5;
}

header > a{
    //padding: 0 10px;
    text-decoration: none;
    background-image: url(../images/tvvt.png);
    background-repeat: no-repeat;
    background-size: 44px;
    background-position: top left;
    padding:0 10px 0 50px;
} 

header h1{
    /*padding: 0 20px;*/
    /*border-right: 1px solid #444;
    color: #f9f9f9;*/
    color:#333333;
    font-size: 24px;
    font-weight: bolder;
    display: inline-block;
}

header sub{
    /*color: #f9f9f9;*/
    color:#000;
    font-size: 10px;
    vertical-align: middle;
    margin: 0 10px;
    font-weight: bolder;
}


header ul{
    display: flex;
    height: 44px;
}

header li{
    display: inline-block;
    height: 100%;
    width: 60px;
    color: #333333;
    text-align: center;
    line-height: 44px;
    border-right: 1px solid #e3e3e5;
    position: relative;
    cursor: pointer;
    transition:all 0.3s;
}

header li:first-child{
    border-left: 1px solid #e3e3e5;
}

header li:before{
    line-height: 44px;
}

header li a{
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    color: #333333;
    left: 0;
    top: 0;
    text-decoration: none;
}

header li a:before{
    line-height: 44px;
}

header li i{
    display: block;
    position: absolute;
    font-size: 12px;
    color: #333333;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 1;
    text-align: center;
    height: 14px;
    line-height: 14px;
    font-weight: normal;
    opacity: 0;
}

header li:hover i{
    opacity: 1;
}

footer{
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 32px;
    line-height: 32px;
    color: #666;
    text-align: center;
    text-shadow:1px 1px 1px #fff;
    font-size: 12px;
}