header{
	border-bottom: 1px solid #666;
}

footer{
	color: #fff;
	text-shadow:none;
}

.manager-page-list{
	/*padding: 0 30px;*/
	/*flex:1;*/
	height: 100%;
	overflow: scroll;
	flex-flow:wrap;
	background: #333;
	position: relative;
	/*-webkit-perspective: 1000px;*/
    white-space: nowrap;
    text-align: center;
}

.manager-page-list .iframe-wrapper{
	width: 320px;
	height: 480px;
    display: inline-block;
    margin: 100px 30px;
	/*position: absolute;*/
    /*top: 64px;*/
    /*left: 50%;*/
    /*margin-left: -160px;*/
    transition:-webkit-transform 0.5s;
    /*-webkit-transform: rotateY(-60deg) ;*/
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.manager-page-list .iframe-wrapper:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background: rgba(0,0,0,0);
    transition:background 0.5s;
    text-align: center;
    font-size: 14px;
    line-height: 480px;
    color: #fff;
}

.manager-page-list .iframe-wrapper:hover:after{
    content:  attr(data-name);
    background: rgba(0,0,0,0.65);
}


.manager-page-list .iframe-wrapper iframe{
    background: #fff;
    -webkit-box-reflect: below 5px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(.5, transparent), to(rgba(3,3,3,.1)));
    -webkit-transform: rotateY(0deg);
}

.manager-page-list .iframe-wrapper iframe{
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.manager-page-list .iframe-wrapper.left iframe{
    -webkit-transform: translate(-100%,0) rotateY(60deg);
}

.manager-page-list .iframe-wrapper.right iframe{
    -webkit-transform: translate(100%,0) rotateY(-60deg);
}


.manager-page-list .iframe-wrapper:hover{
	box-shadow: 0 0 30px rgba(0,0,0,0.2);
}
