.manager-content{
    display: flex;
    flex:1;
    position: relative;
}

.manager-content .manager-ui-info,.manager-content .manager-page-info{
    width: 300px;
    display: none;
}

.manager-content .manager-ui-show,.manager-content .manager-page-show{
    width: 320px;
    margin:62px auto 0;
    overflow: hidden;
    height: 480px;
    transition:box-shadow 0.5s;
    background: #fff;
}

.manager-content .manager-page-show:hover{
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.manager-content .manager-page-analyse{
    display: none;
}

.manager-page-modules{
    background: #fff;
    transition:width 0.3s cubic-bezier(.14,.56,.63,1.17); 

    width: 0px;
}

.manager-page-modules.show{
    width: 320px;
}


.manager-info-wrapper label{
    line-height: 30px;
    width: 80px;
    text-align: right;
    display: inline-block;
}
#page-manager-iframe{
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#iframe-wrapper{
    height: 100%;
    width: 100%;
}


.page-manager-goto-preview{
    line-height: 30px;
}
.manager-page-tip{
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    width: 100px;
    text-align: center;
    background-color: #6c747a;
    position: absolute;
    left: 330px;
    top: 0px;
}
.manager-page-tip-arrow{
    display: block;
    width: 15px;
    height: 15px;
    left: -5px;
    top:10px;
    -moz-transform: rotate(45deg); /* FF3.5+ */
    -o-transform: rotate(45deg); /* Opera 10.5 */
    -webkit-transform: rotate(45deg); /* Saf3.1+, Chrome */
    background-color: #6c747a;
    position: absolute;
}
.module-ui-wrapper{
    margin-top: 20px;
    width: 320px;
    position: relative;
    -webkit-animation:anim 0.2s;
    top: 10px;
}

@-webkit-keyframes anim
{
    0%   { top:0px;}
    25%  { top:2px;}
    50%  { top:4px;}
    75%  { top:7px;}
    100% { top:10px;}
}
.module-ui-download{
    line-height: 20px;
}
#watch-source{
    cursor: pointer;
    line-height: 20px;
}
.board{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    left: 0;
    top: 0;
    overflow: scroll;
    -webkit-overflow-scrolling:touch;
    color: #fff;
    box-sizing:border-box;
    padding: 64px;
    display: none;
}

.board.show{
    display: block;
}

.page-source pre{
    white-space: pre-wrap;
    color: #fff;
    font-size:14px; 
}

.qrCode{
    display: none;
}

.board .close{
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 64px;
    color: #fff;
    font-size: 32px;
    line-height: 64px;
    text-align: center;
    cursor: pointer;
    transition:all 0.5s;
}

.board .close:hover{
    color: #ec1b51;
}

.page-feedback{
    display: none;
}

.page-feedback *{
    color: #fff;
}



