*{
	margin:0;
	padding: 0;
	font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body{
	background-color: #F3F2F2;
}
#manager-header{
	height: 60px;
	background-color: #740101;
}
#manager-header .manager-title{
	line-height: 60px;
	font-size: 20px;
	font-weight: bold;
	color: #F3F2F2;
	text-indent: 20px;
}
#manager-content{
	display: flex;
}
#manager-content .manager-ui-info,#manager-content .manager-page-info{
	width: 300px;
	border-right: 1px solid #000;
	min-height: 800px;
}
#manager-content .manager-ui-show,#manager-content .manager-page-show{
	width: 320px;
	padding: 50px;
}
#manager-content .manager-page-analyse{
	padding: 50px;
}
#manager-content .manager-page-show{
	border-right: 1px solid #000;
	min-height: 700px;

}
.manager-info-wrapper{
	margin: 50px 0px 0 30px;
}
.manager-info-wrapper div{

}
.manager-info-wrapper label{
	line-height: 30px;
	width: 80px;
	text-align: right;
	display: inline-block;
}
#page-manager-iframe{
	display: block;
}
.page-manager-goto-preview{
	line-height: 30px;
}
.manager-page-tip{
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	width: 100px;
	text-align: center;
	background-color: #6c747a;
	position: absolute;
	left: 330px;
	top: 0px;
}
.manager-page-tip-arrow{
	display: block;
	width: 15px;
	height: 15px;
	left: -5px;
	top:10px;
	-moz-transform: rotate(45deg); /* FF3.5+ */
	-o-transform: rotate(45deg); /* Opera 10.5 */
	-webkit-transform: rotate(45deg); /* Saf3.1+, Chrome */
	background-color: #6c747a;
	position: absolute;
}
.module-ui-wrapper{
	margin-top: 20px;
	width: 320px;
	position: relative;
	-webkit-animation:anim 0.2s;
	top: 10px;
}

@-webkit-keyframes anim
{
	0%   { top:0px;}
	25%  { top:2px;}
	50%  { top:4px;}
	75%  { top:7px;}
	100% { top:10px;}
}
.module-ui-download{
	line-height: 20px;
}
#watch-source{
	cursor: pointer;
	line-height: 20px;
}
#source-code-wrapper{
	display: none;
	width: 300px;
}
#source-code-wrapper pre{
	width: 300px;
	white-space: pre-wrap;
}
