html, body {
    height: 100%;
    background-color: #fff;
}
header {
    background-color: #f3f3f3;
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    background-repeat: repeat-x;
    border-bottom: 1px solid #e5e5e5;
}
header .input-append {
    flex: 1;
    white-space: nowrap;
    display: flex;
}
header .input-append .input-mini {
    flex:1;
    cursor: auto;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    
    border-radius: 4px 0 0 4px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    padding: 4px 6px;
    color: #555;

    transition: border linear .2s, box-shadow linear .2s;
}
header .input-append .input-mini:focus{
    outline: none;
    border-color:rgba(82,168,236,0.8);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}
header .input-append .add-on {
    border-radius: 0 4px 4px 0;
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    padding:4px 5px;
    min-width: 30px;
    margin:0 10px 0 0;
}
.manager_box {
    flex: 1;
    display: flex;
    padding: 10px 0;
}
.manager_projects_list, .collectContent {
    width: 100%;
    height: auto;
    overflow: auto;
    flex-flow: wrap;
    background-color: #fff;
    position: relative;
    z-index: 1;
    text-align: center;
    transition: width 500ms ease-in-out;
}
.manager_projects_list.show {
    transition: width 500ms ease-in-out;
    width: 370px;
}
.project-wrapper {
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    display: inline-block;
    color: #666;
    width: 47%;
    min-width: 340px;
    overflow: hidden;
    background-color: #ffffff;
    background-image: linear-gradient(#fff, #f5f5f5);
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0 5px 5px 10px;
    box-sizing: border-box;
    transition: box-shadow 200ms ease-in, left 0.5s, top 0.5s;
    transform: box-shadow;
}
.project-wrapper .folder {
    max-height: 150px;
    margin-right: 0;
    width: 50%;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    z-index: 105;
}
.project-wrapper .folder img {
    display: block;
    width: 100%;
    height: auto;
}
.project-wrapper .listp {
    width: 100%;
    height: 100%;
    display: block;
    color: #6d6e76;
    text-align: center;
    line-height: 330px;
    text-decoration: none;
    position: absolute;
    z-index: 100;
    font-size: 12px;
    font-weight: normal;
    top: 0;
    left: 0;
}
.project-wrapper .listp .collect {
    background-image: url(../images/tvvt.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    z-index: 101;
    right: 5px;
    top: 5px;
    text-align: center;
    cursor: pointer;
    transition: transform 300ms ease-in-out;
    transform: rotateY(0deg);
    -webkit-filter: grayscale(1);
}
.project-wrapper .listp .collect.sed {
    -webkit-filter: none;
    transform: rotateY(180deg);
}
.project-wrapper .listp>span:nth-child(2) {
    position: absolute;
    left: 0;
    top: 30px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 50%;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;
}
.project-wrapper .listp>span:nth-child(3) {
    position: absolute;
    left: 0;
    top: 60px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-left: 52%;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}
.project-wrapper .listp>a {
    color: #000;
    font-size: 12px;
    position: absolute;
    left: 0;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-left: 52%;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    text-decoration: none;
}
.project-wrapper .listp>a:nth-of-type(1) {
    top: 80px;
}
.project-wrapper .listp>a:nth-of-type(2) {
    top: 100px;
}
.project-wrapper:hover {
    color: #f14583;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transform: box-shadow;
}
.iframeContent {
    flex: 1;
    width: 100%;
    position: relative;
    border: 1px solid #e5e5e5;
    border-right: none;
    border-radius: 3px 0 0 3px;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    background-color: #fff;
    transition: transform 500ms ease-in-out;
    transform: translate3d(100%, 0, 0);
    overflow: hidden;
}
.iframeContent i {
    font-size: 12px;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    right: 10px;
    top: 10px;
    border: 1px #e5e5e5 solid;
    cursor: pointer;
}
.iframeContent.show {
    transform: translate3d(0, 0, 0);
}
.iframeContent iframe {
    width: 100%;
    height: 100%;
    border: none;
    flex: 1;
    margin: 5px;
}
.fixedLayer {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    z-index: 950;
    margin-top: 45px;
}
.fixedLayer.show {
    display: block;
}
.fixedLayer .project-wrapper {
    position: absolute;
    box-shadow: 0 0 50px rgba(0, 0, 0, .7);
}
.manager_projects_list .zhan {
    display: none;
    margin:0 auto 5px auto;
}
.manager_projects_list .zhan.show {
    display: inline-block;
}
