html, body {
    height: 100%;
    background-color: #fff;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
}
header {
    background-color: #f3f3f3;
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    background-repeat: repeat-x;
    border-bottom: 1px solid #e5e5e5;
    box-align: center;
    align-items: center;
}
header .input-append {
    flex: 1;
    white-space: nowrap;
    display: flex;
    position: relative;
    z-index: 4;
    margin-right: 10px;
    height: 30px;
}
header .input-append .input-mini {
    flex: 1;
    cursor: auto;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 4px;
    height: 30px;
    display: inline-block;
    padding: 0 6px;
    color: #555;
    transition: border linear .2s, box-shadow linear .2s;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
header .input-append .input-mini:focus {
    outline: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-color: rgba(182, 184, 185, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(128, 130, 131, 0.6);
}
header .input-append .add-on {
    display: block;
    border-radius: 0 4px 4px 0;
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding: 0 5px;
    min-width: 30px;
    margin: 0 10px 0 0;
}
header .input-append section {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 30px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    border-top: none;
    overflow: auto;
    display: none;
    opacity: 0;
    transition: opacity ease .3s;
}
header .input-append section.show {
    z-index: 9999;
    display: block;
    opacity: 1;
}
header blockquote {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: none;
}
header blockquote.show {
    display: block;
}
header .input-append article {
    max-height: 350px;
}
header .input-append section:empty {
    display: none;
}
header .input-append section a {
    height: 40px;
    text-decoration: none;
    display: block;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    border-bottom: 1px #f9f9f9 solid;
}
header .input-append section a:hover {
    background-color: #f3f0f0;
    border-bottom: 1px #f3f0f0 solid;
}
header .input-append section a:after {
    content: '';
    border-bottom: 1px #EEE9E9 solid;
}
header .input-append section a >span {
    color: #222;
    line-height: 20px;
    display: block;
    flex: 1;
    padding: 0 10px;
}
header .input-append section a >span:nth-of-type(2) {
    color: #333;
    font-size: 12px;
}
header .input-append section a:last-of-type {
    box-shadow: none;
}
header .input-append section a:last-of-type::after {
    border-bottom: none;
}
.manager_box {
    flex: 1;
    display: flex;
    padding: 10px 0;
    transition: width 500ms ease;
}
.manager_projects_list {
    width: 100%;
    height: auto;
    overflow: auto;
    flex-flow: wrap;
    background-color: #fff;
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 0;
}
.manager_projects_list.show {
    width: 370px;
}
.manager_projects_list.hide {
    display: none;
}
.project-wrapper {
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    display: inline-block;
    color: #666;
    width: 47%;
    min-width: 340px;
    min-height: 170px;
    overflow: hidden;
    background-color: #ffffff;
    background-image: linear-gradient(#fff, #f5f5f5);
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px 5px 5px 10px;
    box-sizing: border-box;
    transition: box-shadow 200ms ease;
}
.project-wrapper .folder {
    max-height: 150px;
    margin-right: 0;
    width: 50%;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    z-index: 105;
}
.project-wrapper .folder img {
    display: block;
    width: 100%;
    height: auto;
}
.project-wrapper .listp {
    width: 100%;
    height: 100%;
    display: block;
    color: #6d6e76;
    text-align: center;
    line-height: 330px;
    text-decoration: none;
    position: absolute;
    z-index: 100;
    font-size: 12px;
    font-weight: normal;
    top: 0;
    left: 0;
}
.project-wrapper .listp .collect {
    background-image: url(../images/tvvt.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    z-index: 101;
    right: 5px;
    top: 5px;
    text-align: center;
    cursor: pointer;
    transition: transform 300ms ease;
    transform: rotateY(0deg);
    -webkit-filter: grayscale(1);
}
.project-wrapper .listp .collect.sed {
    -webkit-filter: none;
    transform: rotateY(180deg);
}
.project-wrapper .listp>span:nth-child(2) {
    position: absolute;
    left: 0;
    top: 30px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 50%;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;
}
.project-wrapper .listp>span:nth-child(3) {
    position: absolute;
    left: 0;
    top: 60px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-left: 52%;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}
.project-wrapper .listp>a {
    color: #000;
    font-size: 12px;
    position: absolute;
    left: 0;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-left: 52%;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    text-decoration: none;
}
.project-wrapper .listp>a:nth-of-type(1) {
    top: 80px;
}
.project-wrapper .listp>a:nth-of-type(2) {
    top: 100px;
}
.project-wrapper:hover {
    color: #f14583;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.project-wrapper.selected{
    color: #f14583;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}
.manager_close {
    position: absolute;
    width: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    -webkit-box-align:center;
    box-align:center;
    -webkit-align-items:center;
    align-items:center;
    transition:transform 500ms ease;
    transform:translate3D(100%,0,0);
}
.manager_close.show{
    transform:translate3D(0,0,0);
    position: relative;
}
.manager_close i {
    flex:1;
    font-size: 24px;
    display: block;
    //position: absolute;
    width: 25px;
    //height: 30px;
    //line-height: 30px;
    text-align: center;
    border-radius: 15px 15px 0 0;
    //left: 0px;
    //top: 0px;
    cursor: pointer;
    //z-index: 3;
    box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.5) inset, 0 -2px 5px 0 rgba(0, 0, 0, 0.3) inset, 0 3px 8px 0 rgba(0, 0, 0, 0.8);
    background-image: radial-gradient(circle at top center, #fff, #f9f9f9, #e5e5e5);
    color: #ccc;
    transition: height 500ms linear;
    //margin:0 0 0 7px;
}
.manager_close i:nth-of-type(2){
    border-radius: 0 0 15px 15px;
}
.icon_list:before {
    content: '';
    height: 2px;
    background-color: #333;
    width: 16px;
    margin: 8px 0 0 0;
    position: absolute;
    left: 50%;
    margin-left: -8px;
}
.icon_list:after {
    content: '';
    height: 2px;
    background-color: #333;
    width: 16px;
    margin: 12px 0 0 0;
    position: absolute;
    left: 50%;
    margin-left: -8px;
}
.icon_list >span::before{
    content: '';
    height: 2px;
    background-color: #333;
    width: 16px;
    margin: 16px 0 0 0;
    position: absolute;
    left: 50%;
    margin-left: -8px;
}
.icon_list >span::after{
    content: '';
    height: 2px;
    background-color: #333;
    width: 16px;
    margin: 20px 0 0 0;
    position: absolute;
    left: 50%;
    margin-left: -8px;
}
.manager_close i.selected {
    height: 100%;
    line-height: 100%;
}
.iframeContent {
    flex: 1;
    width: 100%;
    position: relative;
    border: 1px solid #e5e5e5;
    border-right: none;
    border-radius: 3px 0 0 3px;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    background-color: #fff;
    transition: transform 500ms ease;
    transform: translate3d(100%, 0, 0);
    overflow: hidden;
}
.iframeContent i {
    font-size: 12px;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    right: 10px;
    top: 10px;
    cursor: pointer;
    box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.5) inset, 0 -2px 5px 0 rgba(0, 0, 0, 0.3) inset, 0 3px 8px 0 rgba(0, 0, 0, 0.8);
    background-image: radial-gradient(circle at top center, #fff, #f9f9f9, #e5e5e5);
    color: #999;
}
.iframeContent.show {
    transform: translate3d(0, 0, 0);
}
.iframeContent iframe {
    width: 100%;
    height: 100%;
    border: none;
    flex: 1;
    margin: 5px;
}
.fixedLayer {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    z-index: 950;
    margin-top: 45px;
}
.fixedLayer.show {
    display: block;
}
.fixedLayer .project-wrapper {
    position: absolute;
    box-shadow: 0 0 50px rgba(0, 0, 0, .7);
}
