/*
-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
 */

html, body {
    height: 100%;
}
header {
    //background-color: #fff;
    background-color: #f3f3f3;
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    background-repeat: repeat-x;
    border-bottom: 1px solid #e5e5e5;
}
.manager_projects_list {
    height: 100%;
    overflow: scroll;
    flex-flow: wrap;
    //background-color: #fafafa;
    background-color: #fff;
    position: relative;
    text-align: center;
    padding-top: 8px;
}
.project-wrapper {
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    display: inline-block;
    color: #666;
    width: 47%;
    min-width: 340px;
    overflow: hidden;
    background-color: #ffffff;
    background-image: linear-gradient(#fff, #f5f5f5);
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 5px 5px 5px 10px;
    box-sizing: border-box;
    transition: box-shadow 200ms ease-in;
    transform: box-shadow;
}
.project-wrapper .folder {
    max-height: 150px;
    margin-right: 0;
    width: 50%;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    z-index: 105;
}
.project-wrapper .folder img {
    display: block;
    width: 100%;
    height: auto;
}
.project-wrapper .listp {
    width: 100%;
    height: 100%;
    display: block;
    color: #6d6e76;
    text-align: center;
    line-height: 330px;
    text-decoration: none;
    position: absolute;
    z-index: 100;
    font-size: 12px;
    font-weight: normal;
    top: 0;
    left: 0;
}
.project-wrapper .listp .collect {
    min-width: 10px;
    height: 20px;
    border-radius: 20px;
    background-color: #ff0000;
    color: #fff;
    font-size: 12px;
    display: block;
    position: absolute;
    z-index: 101;
    right: 5px;
    top: 5px;
    line-height: 20px;
    text-align: center;
    padding: 0 5px;
    cursor: pointer;
}
.project-wrapper .listp>span:nth-child(2) {
    position: absolute;
    left: 0;
    top: 30px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-left: 50%;
    width: 100%;
    box-sizing: border-box;
}
.project-wrapper .listp>span:nth-child(3) {
    position: absolute;
    left: 0;
    top: 50px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-left: 52%;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}
.project-wrapper .listp>a {
    color: #000;
    font-size: 12px;
    position: absolute;
    left: 0;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-left: 52%;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    text-decoration: none;
}
.project-wrapper .listp>a:nth-of-type(1) {
    top: 70px;
}
.project-wrapper .listp>a:nth-of-type(2) {
    top: 90px;
}
.project-wrapper:hover {
    color: #f14583;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transform: box-shadow;
}
.iframeContent {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    width: 70%;
    height: 90%;
    background-color: #fff;
    padding: 5px;
    position: absolute;
    z-index: 200;
    left: 15%;
    top: 50px;
    transition: all 300ms ease-in-out;
    transform: translate3d(0, -120%, 0);
}
.iframeContent.show {
    transform: translate3d(0, 0, 0);
}
.iframeContent .icon {
    width: 10px;
    height: 10px;
    border: 1px solid #e5e5e5;
    display: block;
    position: absolute;
    z-index: 3;
    top: -51px;
    background-color: #fafafa;
    border-radius: 50%;
    left: 50%;
    margin-left: -5px;
}
.iframeContent .icon:before {
    content: '';
    display: block;
    width: 150px;
    height: 150px;
    transform: rotate(-16deg);
    position: absolute;
    left: -127px;
    top: 25px;
    border-top: 1px solid #e5e5e5;
}
.iframeContent .icon:after {
    content: '';
    display: block;
    width: 150px;
    height: 150px;
    transform: rotate(16deg);
    position: absolute;
    left: -15px;
    top: 25px;
    border-top: 1px solid #e5e5e5;
}
.iframeContent .close{
    border:1px solid #e5e5e5;
    background-color:#fafafa;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top:10px;
    text-decoration: none;
    text-align: center;
}
.iframeContent iframe {
    width: 100%;
    height: 100%;
    border: none;
}
